body {
    color: whitesmoke;
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/texturized-black.jpg");
    background-size: cover;
}

@media (min-device-width: 1281px) {
    body {
        text-align: left;
    }
    .navbar{
        height: 20vh;
        width: 20vw;
        position: fixed;
        margin-top: 30vh;
        margin-left: 1vh;
        text-align: center;
    }
}

@media (max-device-width: 480px){
    body{
        text-align: center;
    }
    .navbar{
        height: fit-content;
        position: sticky;
    }
}