body {
    background: var(--bg-image);
    color: var(--text-color);
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg-color);
    background-size: cover;
}

.themeChanger {
    width: 30px;
    height: 30px;
    border: none;
    margin: 10px 10px;
}

@media (min-device-width: 1281px) {
    #indexTitle{
        text-align: center;
        border: 2px solid var(--text-color);
        border-radius: 15px;
        margin-left: 20vw;
        margin-right: 5vw;
        padding: 10px;
    }
    
    body {
        text-align: left;
    }
    .navbar{
        height: 20vh;
        width: 20vw;
        position: fixed;
        margin-top: 30vh;
        margin-left: 1vh;
        text-align: center;
    }
}

@media (max-device-width: 480px){
    #indexTitle{
        text-align: center;
        border: 2px solid var(--text-color);
        border-radius: 15px;
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 10px;
    }
    body{
        text-align: center;
    }
    .navbar{
        height: fit-content;
        position: sticky;
    }
}