body {
    background: var(--bg-image);
    color: var(--text-color);
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg-color);
    background-size: cover;
}

#indexTitle{
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin-right: var(--space-m-6xl);
    margin-left: var(--space-m-6xl);
}

@media (min-device-width: 1281px) {   
    .navbar{
        position: fixed;
        margin-top: 30vh;
        margin-left: 1vh;
    }
}

@media (max-device-width: 480px){
    .navbar{
        position: sticky;
    }
}