.menu {
  width: inherit;
  text-align: center;
  list-style: none;
}

@media (max-device-width: 480px){
  .menu a {
    display: inline-block;
    float: none;
    margin: auto;
    color: whitesmoke;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
  }  
}

@media (min-device-width: 1281px) {
  .menu a {
    color: whitesmoke;
    display: list-item;
    float: none;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
  } 
}

.navbar a:hover {
  background: #ddd;
  color: black;
}